<% if @article.errors.any? %>
 <h2>The following errors prevented the article from saving:</h2>
 <ul>
 <% @article.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>


 <p>
  <br>
 
 </p>

 <p>
 
 </p>

<%= simple_form_for @article, html: { multipart: true } do |f| %>
<div class="column is-one-third has-text-left">
						<div class="field">
							<label class="label"><%= f.label :title %></label>
							 <%= f.text_field :title, {class:"input is-medium"} %>
						</div>
				
						<div class="field">
							<label class="label"> <%= f.label :description %></label>
							<div class="control">
								<%= f.text_area :description, {class:"textarea is-medium" }%>
 
							</div>
							
<label class="file-label">
              <%= f.input :blogimage, as: :file, required: false, input_html: { class:"file-input job-avatar" }, label: false, wrapper: false %>
                <span class="file-cta">
                  <span class="file-icon"><i class="fa fa-upload"></i></span>
                  <span class="file-label">Choose a file…</span>
                </span>
            </label> <%= f.submit %>
						</div>
						
						<% end %>