
<!-- page header (title, etc) -->
    <div class="main-header">
      <section class="hero">
	<div class="hero-body">
	  <div class="container">
	    <div class="has-text-centered">
	      <!-- header && subheader -->
	      <h1 class="title is-1 is-spaced">BULMA DARKS</h1>
	      <h4 class="subtitle is-4">bulma dark template</h4>
	      <!-- end of header && subheader -->
	      
	      <!-- header nav content -->
	      <div class="nav-center">
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-facebook"></i>
		  </span>
		</a>
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-twitter"></i>
		  </span>
		</a>
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-pinterest"></i>
		  </span>
		</a>
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-google-plus"></i>
		  </span>
		</a>
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-instagram"></i>
		  </span>
		</a>
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-youtube"></i>
		  </span>
		</a>
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-linkedin"></i>
		  </span>
		</a>
		<a class="nav-item" href="">
		  <span class="icon">
		    <i class="fa fa-rss"></i>
		  </span>
		</a>
	      </div>
	      <!-- end of header nav content -->
	    </div>
	  </div>
	</div>
      </section>
    </div>
    <!-- end page header -->


    	<!-- page content -->
			
    	<div class="main-content">
    		
	      	<div class="container">
	      			<!-- start of posts -->
	      		
				<div class="columns has-text-centered">
			  	<!-- start of post -->
			  		<% @articles.each do |article| %>
			  		<div class="column is-4" >
			 	
					    <div class="card">
					    
					      <!-- image for post -->
					      <div class="card-image">
						<figure class="image is-4by3">
							<%= link_to article.title, article_path(article) %>
							
						  <img src="http://placehold.it/700x500" alt="Image">
						</figure>
					      </div>
					      <!-- end of image for post -->
					      
					      <!-- post header -->
					      <div class="card-content-header">
						<h4 class="title is-4"><a href="post.html"><%= link_to article.title, article_path(article) %></a></h4>
						<%= link_to article.description, article_path(article) %>
					      </div>
					      <!-- end of post header -->
					      
					      <!-- post content -->
					      <div class="card-content">
							<div class="content">
							  <div class="nav-center">
							    <a class="nav-item" href="">
							      <span class="icon">
								<i class="fa fa-twitter"></i>
							      </span>
							    </a>
							    <a class="nav-item" href="">
							      <span class="icon">
								<i class="fa fa-facebook"></i>
							      </span>
							    </a>
							    <a class="nav-item" href="">
							      <span class="icon">
								<i class="fa fa-instagram"></i>
							      </span>
							    </a>
							    
							  </div>
							</div>
							<!-- end of post content -->
				
						<!-- post footer -->
						
						<!-- end of post footer -->
					      </div>
					       
					    </div>
					
					    
				 
			  		</div>
			  	    <% end %> 
			  	   
			  	
			  	<!-- end of post -->
			  	</div>
			  	<div class="columns has-text-centered">
			  	<!-- start of post -->
			  		<% @secondrow.each do |article| %>
			  		<div class="column is-4" >
			 	
					    <div class="card">
					    
					      <!-- image for post -->
					      <div class="card-image">
						<figure class="image is-4by3">
							<%= link_to article.title, article_path(article) %>
							
						  <img src="http://placehold.it/700x500" alt="Image">
						</figure>
					      </div>
					      <!-- end of image for post -->
					      
					      <!-- post header -->
					      <div class="card-content-header">
						<h4 class="title is-4"><a href="post.html"><%= link_to article.title, article_path(article) %></a></h4>
						<%= link_to article.description, article_path(article) %>
					      </div>
					      <!-- end of post header -->
					      
					      <!-- post content -->
					      <div class="card-content">
							<div class="content">
							  <div class="nav-center">
							    <a class="nav-item" href="">
							      <span class="icon">
								<i class="fa fa-twitter"></i>
							      </span>
							    </a>
							    <a class="nav-item" href="">
							      <span class="icon">
								<i class="fa fa-facebook"></i>
							      </span>
							    </a>
							    <a class="nav-item" href="">
							      <span class="icon">
								<i class="fa fa-instagram"></i>
							      </span>
							    </a>
							    
							  </div>
							</div>
							<!-- end of post content -->
				
						<!-- post footer -->
						
						<!-- end of post footer -->
					      </div>
					       
					    </div>
					
					    
				 
			  		</div>
			  	    <% end %> 
			  	   
			  	
			  	<!-- end of post -->
			  	</div>
			  
			  
			  	
				<!-- end of posts -->	
      		</div>
      		
    	</div>
      <!-- pagination -->
      <div class="pagination-style-custom">
	<div class="container has-text-right">
	  <a class="button is-button-grey pagination-next">Show More Posts</a>
	</div>
      </div>
      <!-- end of pagination -->
    </div>
    <!-- end of page content -->
