<section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure class="image is-16by9">
             
             <% if !@article.blogimage.file.nil? %>
              					<%= image_tag(@article.blogimage_url(:thumb),:class => "image is-5by3") %>
            				<% end %>
            				
            </figure>
          </div>
        </div>

        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h1 class="title"><%= @article.title %></h1>
                <p><%= @article.description %></p>
              </div>
            </div>
          </div>
        </section>
        <% if current_user.try(:admin) %>
  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %>
<%end %>


<%= link_to 'Back', articles_path %>