<nav class="panel accordions" >
   <a href="#collapsible-panel" data-action="collapse"><p class="text-uppercase has-text-white pv1 f6">filter by job type</p></a>
<div class="accordion accordion-header toggle" id="collapsible-panel">
  <ul class="mb3 pa0">
    <li class="pv1">
      <%= link_to 'All', jobs_path, class: "button is-fullwidth is-light" %>
    </li>

    <li class="pv1">
      <%= link_to 'Full-time', jobs_path(job_type: "Full-time"), class: "button is-fullwidth is-primary" %>
    </li>

    <li class="pv1">
      <%= link_to 'Part-time', jobs_path(job_type: "Part-time"), class: "button is-fullwidth is-link" %>
    </li>

    <li class="pv1">
      <%= link_to 'Freelance', jobs_path(job_type: "Freelance"), class: "button is-fullwidth is-warning" %>
    </li>

    <li class="pv1">
      <%= link_to 'Contract', jobs_path(job_type: "Contract"), class: "button is-fullwidth contractButton" %>
    </li>
  </ul>
  </div>
</nav>
