<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <% if Rails.env.production? %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P37MJCT');</script>
    <% end %>
    <!-- End Google Tag Manager -->
    <title><%= Rails.configuration.application_name %></title>
    <%= csrf_meta_tags %>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
    <meta name="google-site-verification" content="cGEoN9S2O8-pmqrCDW1S_2VkfO6o5fMm0En-UEqPKs4" />
    <%= favicon_link_tag asset_path('') %>
    <meta name="description" content="Jobs available: Work in Augmented Reality, Mixed Reality, and Virtual Reality. A job board for AR/VR/MR/XR designers, programmers, and more! Hire AR/VR/MR/XR talent ranging from developers to designers and more. XR Loaded makes it easy to find talent in the virtual reality, aguemented reality, and mixed reality field. As well as helping talent find a career. XR Loaded is the web's number 1 job board for ar/vr/mx/ and xr jobs" />
    <meta property="og:title" content="Jobs in Augmented Reality, Mixed Reality, and Virtual Reality." />
    <meta property="og:url" content="https://xrloaded.com/" />
    <meta property="og:site_name" content="XR Loaded" />
    <meta property="og:description" content="Jobs available: Work in Augmented Reality, Mixed Reality, and Virtual Reality. A job board for AR/VR/MR/XR designers, programmers, and more! Hire AR/VR/MR/XR talent ranging from developers to designers and more. XR Loaded makes it easy to find talent in the virtual reality, aguemented reality, and mixed reality field. As well as helping talent find a career. XR Loaded is the web's number 1 job board for ar/vr/mx/ and xr jobs" />
    <meta property="og:image" content="https://xrloadedstorage.s3.amazonaws.com/OG-Work.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="2019-11-25T07:09:10-07:00" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@LoadedXr">
    <meta name="twitter:creator" content="@LoadedXr">
    <meta name="twitter:title" content="Work in Augmented Reality, Mixed Reality, and Virtual Reality.">
    <meta name="twitter:description" content="Jobs available: Work in Augmented Reality, Mixed Reality, and Virtual Reality. A job board for AR/VR/MR/XR designers, programmers, and more! Hire AR/VR/MR/XR talent ranging from developers to designers and more. XR Loaded makes it easy to find talent in the virtual reality, aguemented reality, and mixed reality field. As well as helping talent find a career. XR Loaded is the web's number 1 job board for ar/vr/mx/ and xr jobs">
    <meta name="twitter:image:src" content="https://xrloadedstorage.s3.amazonaws.com/OGPic.jpg">
    <meta name="twitter:url" content="https://xrloaded.com//">
    <link rel="image_src" href="https://xrloadedstorage.s3.amazonaws.com/OGPic.jpg" />
    <link rel="icon" href="https://xrloadedstorage.s3.amazonaws.com/XR-fav.png" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="https://xrloadedstorage.s3.amazonaws.com/Icon--57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://xrloadedstorage.s3.amazonaws.com/Icon--60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://xrloadedstorage.s3.amazonaws.com/Icon--72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://xrloadedstorage.s3.amazonaws.com/Icon--76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://xrloadedstorage.s3.amazonaws.com/Icon--114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://xrloadedstorage.s3.amazonaws.com/Icon--120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://xrloadedstorage.s3.amazonaws.com/Icon--144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://xrloadedstorage.s3.amazonaws.com/Icon--152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://xrloadedstorage.s3.amazonaws.com/Icon--180x180.png">
  </head>

  <body class="<%= yield (:body_class) %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P37MJCT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

     <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <%= link_to image_tag("XR-Loaded-Logo.png", alt: "logo"), '/', class: 'mt1 appLogo' %>
         
        <% end  %>
         <img scr="/rails_project/job_board/app/assets/images/XR-Loaded-Logo.png"/>
        <div class="navbar-burger burger" data-target="navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
            <p class="control">
              <%= link_to 'Post Job', new_job_path, class: "navbar-item button is-rounded" %>
            </p>
            <% if user_signed_in? %>

              <div class="navbar-item has-dropdown is-hoverable">
                <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>
                <div class="navbar-dropdown is-right">
                  <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                </div>
              </div>
            <% else %>
            <p class="control">
              <%= link_to "Sign In", new_user_session_path, class:"navbar-item button signUpSignInButton" %>
            </p>
            <p class="control" id="signUpButton" onclick=”ga(‘send’, ‘event’, ‘Navbar’, ‘Click’, ‘Sign Up’, ‘10’);”>
              <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button signUpSignInButton"%>
            </p>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    
    
  </nav>
    <section class="homepageBanner hero is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1" style="color:#fff;">
            WORK IN EXTENDED REALITY.
          </h1>
          <h2 class="subtitle" style="color:#fff;">
            Augmented Reality, Mixed Reality, Virtual Reality. Loaded.
          </h2>
        </div>
      </div>
      
    </section>
   
  <%= yield %>

  <footer class="footer">
    <div class="container">
    <%= link_to root_path do %>
          <%= link_to image_tag("XR-Loaded-white.png", alt: "logo"), '/', class: 'appLogo' %>
    <% end  %>
       <div id="footerImage">
        <%= image_tag 'https://xrloadedstorage.s3.amazonaws.com/weird-science-stars-anthony-michael-hall-kelly-le-brock-reveal-how-they-truly-feel-about-planned-reboot-post-2.jpg' %>
       </div>
       <p class="footerText" style="color:#fff;">
            We're live and making adjustments as we go.</br> <a href="mailto:contact@xrloaded.com">Please let us know if you have any suggestions!</a>
         </p>
    
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us5.list-manage.com","uuid":"3054d90505d455689009ddaac","lid":"4e4a9edef7","uniqueMethods":true}) })</script>
    
    </div>
     
  </footer>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>

  </body>
</html>